[submodule "src/Smithbox"]
	path = src/Smithbox
	url = https://github.com/vawser/Smithbox.git
[submodule "src/DSLuaDecompiler"]
	path = src/DSLuaDecompiler
	url = https://github.com/katalash/DSLuaDecompiler.git
